<mat-card>
    <mat-card-title>
        <span *ngIf="question.id">Savolni o'zgartirish</span>
        <span *ngIf="!question.id">Yangi savol</span>
    </mat-card-title>
    <mat-card-content>
        <form>
            <mat-form-field class="fullWith">
                <input  [(ngModel)]="question.text" name="question" matInput placeholder="Savol">
            </mat-form-field>
            <mat-form-field class="fullWith">
                <input  [(ngModel)]="question.correctAsnwer" name="correctAsnwer" matInput placeholder="To'g'ri javob">
            </mat-form-field>
            <mat-form-field class="fullWith">
                <input  [(ngModel)]="question.worngAsnwer1" name="worngAsnwer1" matInput placeholder="Noto'g'ri javob">
            </mat-form-field>
            <mat-form-field class="fullWith">
                <input  [(ngModel)]="question.worngAsnwer2" name="worngAsnwer2" matInput placeholder="Noto'g'ri javob">
            </mat-form-field>
            <mat-form-field class="fullWith">
                <input  [(ngModel)]="question.worngAsnwer3" name="worngAsnwer3" matInput placeholder="Noto'g'ri javob">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="post()" mat-button>Jo'nat</button>
        <button (click)="resetQuesttion()" mat-button>Yangi savol</button>
    </mat-card-actions>
</mat-card>