<form style="margin: 30px;">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <h1>
                <span *ngIf="question.id">Savolni o'zgartirish</span>
                <span *ngIf="!question.id">Yangi savol</span>
            </h1>
            <form>
                <input type="text" [(ngModel)]="question.text" name="question" matInput placeholder="Savol"
                    class="form-control inputlar" id="validationServer01" required>
                <input [(ngModel)]="question.answer1.text" name="correctAnswer" matInput placeholder="To'g'ri javob"
                    class="form-control inputlar" id="validationServer01" required>
                <input [(ngModel)]="question.answer2.text" name="wrongAnswer1" matInput placeholder="Noto'g'ri javob"
                    class="form-control inputlar" id="validationServer01" required>
                <input [(ngModel)]="question.answer3.text" name="wrongAnswer2" matInput placeholder="Noto'g'ri javob"
                    class="form-control inputlar" id="validationServer01" required>
                <input [(ngModel)]="question.answer4.text" name="wrongAnswer3" matInput placeholder="Noto'g'ri javob"
                    class="form-control inputlar" id="validationServer01" required>
            </form>
        </div>
    </div>
    <div>
        <button (click)="post()" class="btn btn-info" style="margin-right: 1%;">Jo'nat</button>
        <button (click)="resetQuesttion()" class="btn btn-info" style="margin-right: 1%;">Yangi savol</button>
    </div>
</form>
<questions></questions>