<mat-card>
    <mat-card-title>
        <span *ngIf="question.id">Savolni o'zgartirish</span>
        <span *ngIf="!question.id">Yangi savol</span>
    </mat-card-title>
    <mat-card-content>
        <form>
            <mat-form-field class="fullWith">
                <input [(ngModel)]="question.text" name="question" matInput placeholder="Savol">
            </mat-form-field>
            <mat-form-field class="fullWith">
                <input [(ngModel)]="question.correctAnswer" name="correctAnswer" matInput placeholder="To'g'ri javob">
            </mat-form-field>
            <mat-form-field class="fullWith">
                <input [(ngModel)]="question.wrongAnswer1" name="wrongAnswer1" matInput placeholder="Noto'g'ri javob">
            </mat-form-field>
            <mat-form-field class="fullWith">
                <input [(ngModel)]="question.wrongAnswer2" name="wrongAnswer2" matInput placeholder="Noto'g'ri javob">
            </mat-form-field>
            <mat-form-field class="fullWith">
                <input [(ngModel)]="question.wrongAnswer3" name="wrongAnswer3" matInput placeholder="Noto'g'ri javob">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="post()" mat-button>Jo'nat</button>
        <button (click)="resetQuesttion()" mat-button>Yangi savol</button>
    </mat-card-actions>
</mat-card>
<questions></questions>